# {{ ansible_managed }}

Port {{ ssh.port }}
Protocol 2
PermitRootLogin yes
PasswordAuthentication no
X11Forwarding no
PrintMotd no
PrintLastLog yes
AllowUsers {{ user.name }}
LoginGraceTime 1m
ChallengeResponseAuthentication no
PubkeyAuthentication yes
Subsystem	sftp	/usr/lib/ssh/sftp-server
# Preferred algorithms from:
# https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Modern_.28OpenSSH_6.7.2B.29
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
